* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(49, 46, 46);
}
body {
    display: flex;
    margin-inline: auto;
    justify-content: center;
  
    
    
}
img {
    width: 52vw;
    display: flex;
    justify-content: center;
    padding: 50;
}
input :nth-child(1){
    display: block;
}
input:hover :nth-child(3) {
    filter: brightness(1.2);
    cursor: pointer;
    border-radius: 4em;
}
input :nth-child(3){
      transition: filter .2s;
      
}
